body {
    height: 100vh;
    /* position: relative; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(133,191,75,0.6755077030812324) 0%, rgba(80,191,191,0.7791491596638656) 35%);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.centered {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-bottom: 1rem;
}

input {
    margin-bottom: 1rem;

}